* { 
  margin: 0; 
	padding: 0; 
	box-sizing: border-box;
}

body {
	font-size: 14px;
	font-family: "Open Sans", sans-serif;
	overflow-x: hidden;
}

header {
	background:#1c2431;
	font-family: "Raleway", sans-serif;
	position: relative;
}

header nav {
	display: flex;
  justify-content: space-between; 
  align-items: center; 
   padding-top: 1.5em; 
   max-width: 1200px; 
   margin: auto;
}

header nav img { 
  height: 30px; 
  margin-left: 5%;
}

header nav ul {
  list-style-type: none;
} 

header nav ul li { 
  display: inline-block; 
  margin-right: 1em;
} 

header nav ul li a { 
  text-decoration: none; 
  color: white;
} 

header nav ul li a:hover { 
  color: #65e2d9;
} 

header picture img { 
  position: absolute; 
  bottom: -10px; 
  z-index: -10; 
  width: 100%; 
  left: 0;
}

.intro { 
  display: flex; 
  flex-direction: column; 
  align-items: center;
} 

.intro-illustration { 
  display: block; 
  width: 80%; 
  max-width: 600px; 
  margin: 4em auto; 
  z-index: 100000;
} 

.intro-info { 
  color: white; 
  margin-top: 4em; 
  margin-bottom: 2em; 
  z-index: 100000;
} 

.intro-info h1,.intro__-info p { 
  z-index: 100000;
} 

.intro-info h1 { 
  text-align: center; 
  line-height: 1.4; 
  font-size: 1.6rem; 
  width: 93%; 
  margin: 0 auto; 
  margin-bottom: 0.8em;
} 

.intro-info p { 
  text-align: center; 
  line-height: 1.6; 
  font-size: 1rem; 
  margin: 0 auto; 
  width: 85%;
} 

header button { 
  display: block; 
  color: white; 
  font-weight: 700; 
  border: none; 
  width: 270px; 
  padding: 1.1em 2em; 
  background: linear-gradient(to right, #65e2d9, #339ecc); 
  border-radius: 2em; 
  font-size: 1.2em; 
  z-index: 10000; 
  margin: 1rem auto;
} 

header button:active { 
  transform: translateY(2px);
} 

header button:hover { 
  cursor: pointer;
} 
/*header button:hover span { padding-right: 25px;} .header button:hover span::after { opacity: 1; right: 0;}*/ 

header button span { 
  display: inline-block; 
  position: relative; 
  transition: 0.5s;
} 

/*header button span::after { content: '\00bb'; position: absolute; opacity: 0; top: 0; right: -20px; transition: 0.5s;}*/ 

main { 
  background: #181f2a; 
  padding-top: 5em;
} 

main .feature { 
  display: flex; 
  flex-direction: column; 
  text-align: center; 
  color: white; 
  font-family: "Open Sans", sans-serif;
} 

main section { 
  max-width: 1200px; 
  margin: auto;
} 

.features-icon { 
  margin-bottom: 1.5em;
} 

[class*='features-1'] { 
  margin-bottom: 5em;
} 
[class*='features-2'] h2 { 
  margin-bottom: 0.5em;
} 
[class*='features-3'] p { 
  width: 80%; 
  margin: 0 auto; 
  line-height: 1.6;
} 

.features-4 p { 
  width: 85%;
} 

.services { 
  color: white; 
  margin-bottom: 4em; 
  display: grid;
} 

.services-img { 
  max-width: 100%; 
  display: block; 
  width: 80%; 
  margin: 0 auto 3em;
}

.services div { 
  padding-left: 7%; 
  padding-right: 6%;
} 

.services h3 { 
  margin-bottom: 1em;
} 

.services p { 
  margin-bottom: 5%;
} 

.services span { 
  color: #65e2d9; 
  font-weight: 400; 
  border-bottom: #65e2d9 solid 1px; 
  padding: 0 0 2px;
} 

.services span img { 
  position: relative; 
  top: 3px; 
  left: 2px;
} 

.testimonial { 
  display: flex; 
  flex-direction: column; 
  justify-content: space-between; 
  align-items: center;
} 

.quotes { 
  height: 25px; 
  position: relative; 
  left: -150px; 
  top: 2px;
} 

.item { 
  background: #202a3c; 
  color: white; 
  border: none; 
  padding: 2em 1.5em; 
  margin: 0 auto; 
  width: 90%; 
  margin-bottom: 6%; 
  border-radius: 7px; 
  box-shadow: 0px 0px 4px 1px #202a3c;
} 

.item p { 
  line-height: 1.6; 
  margin-bottom: 1.5em;
} 

.user-item{ 
  display: flex;
} 

.user-item-image { 
  display: block; 
  width: 30px; 
  height: 30px; 
  border-radius: 50%; 
  margin-right: 4%;
} 

.user-item .title { 
  font-weight: 700; 
  margin-bottom: 0.5em;
} 

.user-item .subtitle { 
  font-size: 0.7rem; 
  display: inline-block; 
  margin-top: 0.5em;
} 

.signU { 
  background: #1c2431; 
  border: none; 
  padding: 3em 1.5em; 
  width: 90%; 
  margin: 0 auto; 
  color: white; 
  border-radius: 7px; 
  position: relative; 
  top: 12em; 
  max-width: 800px;
} 

.signU-title { 
  text-align: center; 
  margin-bottom: 0.7em; 
  font-size: 1.2rem;
} 

.signU-details {
  text-align: center; 
  line-height: 1.6; 
  width: 93%; 
  margin: 0 auto;
} 

.signU-form { 
  margin-top: 2em;
} 

.signU-form input[type='text'] { 
  border: none; 
  border-radius: 30px; 
  width: 100%; 
  display: block; 
  margin: 0 auto; 
  padding: 1em 1.8em; 
  font-size: 1em;
} 

.signU-form input[type='submit'] { 
  border: none; 
  border-radius: 30px; 
  width: 100%; 
  display: block; 
  margin: 0 auto; 
  padding: 1em 1.8em; 
  background: linear-gradient(to right, #65e2d9, #339ecc); 
  color: white;
  font-weight: 700;
  cursor: pointer;
} 

.footer { 
  background: #0b1523;
  padding: 15em 1em 0.2em 2em; 
  color: white; 
  font-family: "Raleway", sans-serif;
} 

.footer-img { 
  margin-bottom: 2.5em;
} 

.footer-item { 
  display: flex; 
  margin-bottom: 2em;
}

.footer-item-icon1 { 
  height: 20px; 
  width: 20px; 
  margin-right: 5%;
} 

.footer-item .details { 
  line-height: 1.6;
} 

.footer-item-icon { 
  margin-right: 4%;
} 

address { 
  margin-bottom: 4em;
} 

.footer-end { 
  margin-bottom: 3em;
} 

.footer-end-item { 
  list-style-type: none;
} 

.footer-end-item li { 
  margin-bottom: 1.3em;
} 

.social { 
  text-align: center; 
  margin-bottom: 2em;
} 

.social .social-icon { 
  margin-right: 10px; 
  border-radius: 50%; 
  font-size: 25px; 
  cursor: pointer;
} 

.attribution a.attribution-link { 
  color: white;
} 

.attribution { 
  font-size: 11px; 
  text-align: center;
} 

.attribution a { 
  color: #3e52a3;
} 

@media only screen and (min-width: 767px) 
{.header nav { padding-top: 3em; } 

.header nav ul li { 
  margin-right: 4em; 
} 
 
 .intro-illustration { 
   width: 50%; 
 } 
 
.intro-info h1 { 
  width: 50%; 
  font-size: 1.7rem; 
} 

.intro-info p { 
  width: 46%; 
} 

main .feature { 
  display: grid; 
  grid-template-columns: 1fr 1fr; 
  grid-column-gap: 2em; 
  grid-row: 1fr; 
  padding: 4em 6em 0 6em; 
  margin-bottom: 4em; 
} 

.services { 
  grid-template-columns: 1fr 1fr; 
  margin-bottom: 15em; 
} 

.services-img { 
  margin: 0; 
  margin-left: 5%; 
} 

.services div > * { 
  margin: 0; 
  margin-bottom: 0.5em; 
} 

.services div h3 { 
  font-size: 1.8rem; 
  width: 50%; 
  line-height: 1.5; 
} 

.services div p { 
  margin-bottom: 3%;
}

.testimonial { 
  flex-direction: row; 
} 

.quotes { 
  height: 35px; 
  position: relative; 
  top: -10.4em; 
  left: 2.4em; 
} 

.item { 
  margin-right: 30px; 
  box-shadow: none; 
} 

.item:nth-child(2) {
  position: relative; 
} 

.signU { 
  width: 70%; 
  top: 9em; 
} 

.signU-title { 
  font-size: 1.5rem;
} 

.signU-details { 
  width: 80%; 
} 

.signU-form { 
  display: flex; 
  margin-top: 3em; 
} 

.signU-form input[type='text'] {
  width: 500px;
} 

.signU-form input[type='submit'] { 
  margin-left: 20px;
  width: 220px; 
} 

.footer > div { 
  max-width: 1200px; 
  margin: 0 auto; 
} 

.footer-container { 
  display: grid; 
  grid-gap: 20px; 
  grid-template-columns: 1.5fr 1fr 1fr 1fr .5fr; 
} 

.footer-container .social { 
  display: flex; 
  justify-content: space-around; }}


